* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: #f4f4f4;
}

h1 {
  font-size: 70px;
  text-align: center;
  color: #2e2c2c;
  margin-top: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.user-choice {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

.sketch-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  justify-content: center;
  align-content: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
}

.box,
.new-box {
  background-color: white;
}

.black-background {
  background-color: black;
}

.new-container {
  justify-content: center;
  align-content: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
}
