* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: #f4f4f4;
}

h1 {
  font-size: 70px;
  text-align: center;
  color: #2e2c2c;
  margin-top: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.user-choice,
.clear,
.color,
.black,
.eraser {
  display: block;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.user-choice:active,
.user-choice:hover,
.clear:active,
.clear:hover,
.color:hover,
.color:active,
.black:hover,
.black:active,
.eraser:hover,
.eraser:active {
  box-shadow: 1px 1px 5px 2px black;
}

.sketch-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  justify-content: center;
  align-content: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
}

.box {
  background-color: white;
}

.black-background {
  background-color: black;
}

.new-container {
  justify-content: center;
  align-content: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
}

.buttons {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  /* width: 500px; */
  justify-content: end;
  margin: 0;
  margin-left: auto;
  /* margin-right: -40px; */
  margin-bottom: 20px;
  align-content: end;
  height: 400px;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
