* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: #f4f4f4;
}

h1 {
  font-size: 70px;
  text-align: center;
  color: #2e2c2c;
  margin-top: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.user-choice {
  display: block;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.user-choice:active,
.user-choice:hover {
  box-shadow: 1px 1px 5px 2px black;
}

.sketch-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  justify-content: center;
  align-content: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
}

.box,
.new-box {
  background-color: white;
}

.black-background {
  background-color: black;
}

.new-container {
  justify-content: center;
  align-content: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
}

.clear {
  display: block;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
}

.clear:active,
.clear:hover {
  box-shadow: 1px 1px 5px 2px black;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 500px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
